*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer img{
    width: 100%;
}

.textoFooter{
    display: flex;
    justify-content: center;
}

.textoFooter p{
    z-index: 1;
    position: absolute;
    bottom: 20px;
    color: #fff;
}


@media (max-width: 500px) {
    .textoFooter p{
        font-size: 10px;
    }
}