*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondoHeader{
    width: 100%;
    height: 100vh;
    background-image: url(../img/FondoHeader.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}