*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.nav{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 7px;
}

.scroll{
    background-color: #EAA9C2;
}

.menu{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .IMG{
    width: 45px;
}

.menu .IMG img{
    width: 100%;
    transition: 0.5s;
    display: block;
}

.menu .IMG img:hover{
    transform: scale(1.1);
}

.menu .elementosMenu{
    display: none;
}

.Link{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.Link:hover{
    transform: scale(1.1);
}

.menu .iconos .bi{
    color: #fff;
    font-size: 50px;
}

.menu .iconos .bi-list{
    display: block;
}

.menu .iconos .bi-person{
    display: none;
}

.bi{
    cursor: pointer;
    transition: 0.5s;
}

.bi:hover{
    transform: scale(1.1);
} 

.elementosMenu .Link {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  padding-bottom: 4px;
}

.linea {
  position: absolute;
  bottom: 0;
  height: 1.5px;
  background-color: #FFDFEA;
  transition: all 0.3s ease;
}

@media (min-width: 1000px) {
    .menu .elementosMenu{
        display: block;
        width: 50%;
        position: relative;
        display: flex;
        justify-content: space-between;
        color: #fff;
        gap: 2rem;
        padding: 0;
        margin: 0;
    }

    .menu .iconos .bi-list{
        display: none;
    }

    .menu .iconos .bi-person{
        display: block;
    }
}
