*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navLateral{
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.navLateral.abierto {
    transform: translateX(0);
}

.fondoHeaderNL{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/FondoHeader.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: 1;
}

.menuLateral{
    position: relative;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 20px;
    width: 80%;
    display: flex;
    align-items: center;
}

.menuLateral h3{
    font-size: 30px;
    color: #fff;
}

.bi-chevron-left{
    color: #fff;
    font-size: 50px;
}

.elementosMenuLateral{
    position: relative;
    z-index: 2;
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elementosMenuLateral .bi-person{
    color: #fff;
    font-size: 120px;
    display: block;
}

.elementosMenuLateral p{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.elementosMenuLateral .lista{
    list-style: none;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementosMenuLateral .lista li{
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    background-color: rgba(234, 169, 194, 0.7);
    border-radius: 20px;
    width: 60%;
    transition: 0.8s ease;
}

.elementosMenuLateral .lista li:hover{
    transform: scale(1.1);
}