.PaletaColores{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.uno{
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    background-color: #FFDFEA;
}

.dos{
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    background-color: #EAA9C2;
}

.tres{
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    background-color: #BB2C64;
}

.cuatro{
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    background-color: #5E070A;
}