*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.perfilIMG{
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 6px solid #BB2C64;
}