* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.perfil-container {
    position: relative;
    width: 100%;
    height: 60vh;
}

.portada {
    height: 100%;
    display: block;
    overflow: hidden;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.perfilIMG {
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    z-index: 1;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 8px solid #BB2C64;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.infoPyme {
    margin: auto;
    padding: 130px 30px 30px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #FFDFEA;
    color: #BB2C64;
}

.infoPyme .bloque {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infoPyme .bloque p {
    font-size: 20px;
    text-align: center;
}

.infoPyme .bloque .titulito {
    font-size: 40px;
    color: #5E070A;
}

.infoPyme .bloque .bi {
    font-size: 22px;
}

.infoPyme .bloque .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.infoPyme .bloque .flexito {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoPyme .bloque .links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.infoPyme .bloque .links a {
    color: #BB2C64;
    transition: 0.5s;
}

.infoPyme .bloque .links a:hover {
    color: #BB2C64;
    transform: scale(1.1);
}

.botones {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botones .btn{
    width: 100%;
}

@media (min-width: 1000px) {
    .botones {
        display: flex;
        flex-direction: row;
    }
}