*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gap{
    display: grid;
    gap: 20px;
}

.redesSociales{
    margin: auto;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.redSocial{
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    background: #BB2C64;
    color: #FFDFEA;
    transition: 0.5s;
}

.redSocial:hover{
    transform: scale(1.1);
}

.redSocial i{
    margin: auto;
}