*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form input{
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    border: none;
    background-color: #FFDFEA;
    outline: none;
    color: #5E070A;
}

.form input::placeholder{
    color: #5E070A;
}

.form textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
    height: 70px;
    border-radius: 20px;
    padding: 15px;
    border: none;
    background-color: #FFDFEA;
    outline: none;
}

.form textarea::placeholder{
    color: #5E070A;
}

.form select{
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    border: none;
    background-color: #FFDFEA;
    outline: none;
    color: #5E070A;
}

.form select::placeholder{
    color: #5E070A;
}

.form .label{
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    background-color: #FFDFEA;
    color: #5E070A;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form .custom-file-label:hover {
    background-color: #f7c6d8;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnLogin{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.btnLogin p, .LinkR{
    color: #5E070A;
    transition: 0.3s;
}

.btn{
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #5E070A;
    color: #fff;
    width: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    transform: scale(0.9);
}

.margen{
    margin-top: 130px;
}



.input-password-container {
    position: relative;
    width: 100%;
}

.input-password {
    width: 100%;
    padding-right: 8px;
    box-sizing: border-box;
}

.icono-ojito {
    position: absolute;
    top: 30%;
    right: 25px;
    cursor: pointer;
    color: #5E070A;
    font-size: 1.2rem;
    transition: 0.3s;
}

.icono-ojito:hover {
    transform: scale(0.9);
    color: #EAA9C2;
}