* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margencito {
  margin-top: 50px;
}

.parallax-section {
  position: relative;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  background-image: url('../img/parallax.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.about {
  position: relative;
  z-index: 1;
  padding: 30px;
  width: 300px;
  text-align: justify;
  border-radius: 15px;
  background-color: #fff;
  color: #5E070A;
  display: grid;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.aboutForm {
  margin: auto;
  padding: 30px;
  width: 300px;
  text-align: justify;
  border-radius: 15px;
  background-color: #FFDFEA;
  color: #5E070A;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}