* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
    font-family: 'Magnolia';
    src: url('../fonts/MagnoliaScript.otf') format('opentype'); 
}

.margen {
  margin-top: 150px;
}

.margenb {
  margin-bottom: 200px;
}

.margencitob {
  margin-bottom: 30px;
}

.titulo {
  text-align: center;
  color: #5E070A;
  font-family: "Magnolia";
}

.titulito {
  text-align: center;
}

.carrusel-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carrusel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 300px;
  border-radius: 15px;
  background-color: #5E070A;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carrusel::-webkit-scrollbar {
  display: none;
}

.carrusel section {
  flex-shrink: 0;
  width: 300px;
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  background-color: #5E070A;
  scroll-snap-align: start;
  text-align: justify;
}

.flechita {
  font-size: 2.5rem;
  color: #5E070A;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}

.flechita:hover{
    transform: scale(0.9);
}


@media (min-width: 769px) {
  .carrusel-contenedor {
    flex-direction: column;
  }

  .ventajas {
    width: 900px;
    display: flex;
    justify-content: center;
    text-align: justify;
    border-radius: 15px;
    background-color: #5E070A;
  }

  .ventajas section {
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    background-color: #5E070A;
    transition: transform 0.5s;
  }

  .ventajas section:hover {
    transform: scale(1.1);
  }

  .flechita {
    display: none !important;
  }
}